.appbar {
    background-color:rgba(236, 201, 75,.5);
    position:fixed;
    top:0;
    width:100%;
}
.contain {
    background-image: url(https://cdn.pixabay.com/photo/2016/11/19/14/00/code-1839406_1280.jpg);
       filter: blur(5px);
}
